*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
}
.rating-wrapper{
    direction: rtl;
}
.rating-wrapper input{
    display: none;
}
.rating-wrapper label{
    margin: 5px;
    font-size: 4em;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
}
.rating-wrapper label:hover{
    transform: scale(1.2);
    color: #ffd700;
}
.rating-wrapper input:checked + label,
.rating-wrapper input:checked + label ~ label{
    color: #ffd700;
}
